<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
	<head>
		  <meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <title>My AngularJS App</title>
		  <meta name="description" content="">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
		  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
		  <link rel="stylesheet" href="app.css"/>
		  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
		  <script src="bower_components/angular/angular.js"></script>
		  <script src="app.js"></script>
		  <script src="js/controllers.js"> </script>
	</head>
	<body>
		<div class="mid">
			  <div class="header"><h2>FACEBOOK AKAN DAY NAMES</h2></div>
			  <div class="leftnav">
			  <h4>Authors:</h4>
			  <h5>Winnie</h5>
			  <h5>Korkor</h5>
			  </div>

			<div ng-view></div>
			<h3>Input your details or Login to get Your Akan Day Name</h3>
			<!--<div>Angular seed app: v<span app-version></span></div>-->
			<div ng-controller="testCtrl">
				<!--<div class="students">-->
						
				<!--</div>	-->
			 
				<form ng-submit="getName()"> 
					Name: <input type="text" ng-model="uName" placeholder="input name"/>
					Gender: <select ng-model="gend">
								<option>Male</option>
								<option>Female</option>
							</select>		
					Birthday: <input type="date" ng-model="birthday" placeholder="input birth day"/>
					<input class="btn-primary" type="submit" value="add">
				 </form>
				 <div align="left">
					<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
				</div> 
				<div id="status"></div>
				<form ng-submit="getDayName()"> 
					<h4>Click <input class="btn-primary" type="submit" value="Akan Day Name"> After Logging in</h4>
				</form>
				<h4>Your Akan Day Name Is:</h4>
				<div ng-repeat="student in students" class="nameColor"> 
						<h4>{{student.dayname}} </h4>
				</div>
			</div>
			
		   
			
			<div id="birthday" hidden ></div>
			<div id="gender" hidden ></div> 
			
		  <div class="footer">Copyright ©Winnie & Korkor</div>
			
		  <!-- In production use:
		  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
		  -->
			  <script src="bower_components/angular/angular.js"></script>
			  <script src="bower_components/angular-route/angular-route.js"></script>
			  <script src="app.js"></script>
			  <script src="view1/view1.js"></script>
			  <script src="view2/view2.js"></script>
			  <script src="components/version/version.js"></script>
			  <script src="components/version/version-directive.js"></script>
			  <script src="components/version/interpolate-filter.js"></script>
		</div>
	</body>
</html>
